<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="za.co.whatsyourvibe.business">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.vibe.VibeDetailsActivity"></activity>
        <activity android:name=".activities.vibe.VibesActivity" />
        <activity android:name=".activities.event.EventTicketsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activities.event.EventOverviewActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventOptionsActivity"
            android:parentActivityName=".activities.event.EventOptionsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventRestrictionsActivity"
            android:parentActivityName=".activities.event.EventLocationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventLocationActivity"
            android:parentActivityName=".activities.event.EventDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventDetailsActivity"
            android:parentActivityName=".activities.event.EventCategory"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventCategory"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.profile.MembershipActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.event.EventCreationSuccessActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.authentication.SignInActivity"
            android:parentActivityName=".WelcomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.authentication.AccountCreationSuccessActivity" />
        <activity
            android:name=".activities.authentication.SignUpActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>